package {{.Package}}

import (
	"time"

	"github.com/aritradevelops/crudpaglu/pkg/core"
	"github.com/google/uuid"
)

// implements Schema
type {{.Entity}} struct {
	ID        uuid.UUID  `json:"id,omitempty" gorm:"type:uuid;default:uuid_generate_v4()"`
	Name      string     `json:"name" validate:"required,min=3"`
	CreatedAt time.Time  `json:"created_at" gorm:"autoCreateTime:false"`
	CreatedBy uuid.UUID  `json:"created_by" gorm:"type:uuid"`
	UpdatedAt *time.Time `json:"updated_at" gorm:"autoUpdateTime:false"`
	UpdatedBy *uuid.UUID `json:"updated_by" gorm:"type:uuid"`
	DeletedAt *time.Time `json:"deleted_at"`
	DeletedBy *uuid.UUID `json:"deleted_by" gorm:"type:uuid"`
}

func Model() core.Model {
	return core.NewModel("{{.Collection}}", []string{"name"})
}

func (u *{{.Entity}}) GetID() string {
	return u.ID.String()
}

func (u *{{.Entity}}) SetCreatedAt() {
	u.CreatedAt = time.Now().UTC()
}
func (u *{{.Entity}}) SetUpdatedAt() {
	now := time.Now().UTC()
	u.UpdatedAt = &now
}
func (u *{{.Entity}}) SetDeletedAt() {
	now := time.Now().UTC()
	u.DeletedAt = &now
}
func (u *{{.Entity}}) SetCreatedBy(id string) {
	u.CreatedBy, _ = uuid.Parse(id)
}
func (u *{{.Entity}}) SetUpdatedBy(id string) {
	uid, _ := uuid.Parse(id)
	u.UpdatedBy = &uid
}
func (u *{{.Entity}}) SetDeletedBy(id string) {
	uid, _ := uuid.Parse(id)
	u.DeletedBy = &uid
}
func (u *{{.Entity}}) UnsetDeletedBy() {
	u.DeletedBy = nil
}


