package {{.Package}} 

import (
	"{{.ModulePath}}/internal/pkg/core"
)

type {{.Entity}}Repository struct {
	core.Repository[*{{.Entity}}]
}

var {{.Var}}Repository *{{.Entity}}Repository 

func Repository() *{{.Entity}}Repository {
	return {{.Var}}Repository 
}
	
