package {{.Package}} 

import (
	"{{.ModulePath}}/internal/pkg/core"
	"github.com/gofiber/fiber/v2"
)

func RegisterRoutes(router fiber.Router) {
	controller := Controller()
	{{.Var}}Router := router.Group("/{{.RouteGroup}}")
	{{.Var}}Router.Use(core.SetModule("{{.Entity}}"))
	{{.Var}}Router.Get("/list", controller.List)
	{{.Var}}Router.Post("/create", controller.Create)
	{{.Var}}Router.Get("/view/:id", controller.View)
	{{.Var}}Router.Put("/update/:id", controller.Update)
	{{.Var}}Router.Delete("/delete/:id", controller.Delete)
}