package {{.Package}} 

import (
	"github.com/gofiber/fiber/v2"
	"{{.ModulePath}}/internal/pkg/core"
	"{{.ModulePath}}/internal/pkg/db"
	"{{.ModulePath}}/internal/authn"
	"{{.ModulePath}}/internal/pkg/logger"
)

func setup() {
	{{.Var}}Model = core.NewModel("{{.Collection}}", []string{"name"})

	{{.Var}}Repository = &{{.Entity}}Repository{
		Repository: core.NewRepository[*{{.Entity}}]({{.Var}}Model, db.Instance()),
	}

	{{.Var}}Service = &{{.Entity}}Service{
		Service: core.NewService(core.Repository[*{{.Entity}}]({{.Var}}Repository)),
	}

	{{.Var}}Controller = &{{.Entity}}Controller{
		Controller: core.NewController(core.Service[*{{.Entity}}]({{.Var}}Service)),
	}

}

func RegisterRoutes(router fiber.Router) {
	setup()
	logger.Info().Str("module", "{{.Entity}}").Msg("Module registered s")
	{{.Var}}Router := router.Group("/{{.RouteGroup}}")
	{{.Var}}Router.Use(core.SetModule("{{.Entity}}"), authn.AuthMiddleware())
	{{.Var}}Router.Get("/list", {{.Var}}Controller.List)
	{{.Var}}Router.Post("/create", {{.Var}}Controller.Create)
	{{.Var}}Router.Get("/view/:id", {{.Var}}Controller.View)
	{{.Var}}Router.Put("/update/:id", {{.Var}}Controller.Update)
	{{.Var}}Router.Delete("/delete/:id", {{.Var}}Controller.Delete)
}