package {{.Package}} 

import (
	"{{.ModulePath}}/internal/pkg/core"
)

type {{.Entity}}Service struct {
	core.Service[*{{.Entity}}]
}

var {{.Var}}Service *{{.Entity}}Service

func Service() *{{.Entity}}Service {
	return {{.Var}}Service
}
