package {{.Package}} 

import (
	"{{.ModulePath}}/internal/pkg/core"
)

type {{.Entity}}Service struct {
	core.Service[*{{.Entity}}]
}


func Service() *{{.Entity}}Service {
	var {{.Var}}Repository = Repository()
	return &{{.Entity}}Service{
		Service: core.NewService(core.Repository[*{{.Entity}}]({{.Var}}Repository)),
	}
}
